.all-products{
  .product {
    width: calc(100% / 2 - 5px);

    @media screen and (min-width: 540px) {
      width: calc(100% / 3 - 16px);
    }

    

    @media screen and (min-width: 768px) {
      width: calc(100% / 4 - 11.5px);
    }

    @media screen and (min-width: 1024px) {
      width: calc(100% / 5 - 12px);
    }
  }
}

