.swiper.swiper-section-container {
  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0;
    transition:
    transform 0.3s,
    opacity 0.3s;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #000;
    background: #fff;
    border-radius: 50%;
    z-index: 99;
    &::after {
      font-size: 12px;
      font-weight: 900;
    }
  }

  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      opacity: 1;
      transform: translateX(0);
      &.swiper-button-disabled {
        opacity: 0.4;
      }
    }
  }
}

.overflow-y-auto{
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #9f9fa1;
    border-radius: 2.5px;
  }
}

.editor-content {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000;

  table td {
    border: 1px solid #000000;
    padding: 5px;
  }

  h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
    text-transform: initial;
  }

  h1 {
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  h2 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  h3 {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  h4 {
    font-size: 1em;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  h5 {
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  h6 {
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  ol {
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  blockquote {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }

  pre {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }

  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

}

