.product-selling {
  transition: all 0.3s;
  
  a {
    position: relative;
    overflow: hidden;
    
  }
  img {
    transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}
